body {
  font-family: monospace;
  background-color: #f92;
  color: #17f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
input {
  background-color: #fd9;
  color: #17f;
}
input[type=button]:disabled {
  color: #ec8;
}
input[type=text]:read-only,
div.address > span {
  border-style: groove;
  background-color: #ec8;
  border-width: 2px;
  border-color: whitesmoke;
  padding: 0.2em;
}
div.address > span:empty::after {
  content: '\200B';
}
div.address > span {
  margin-top: 0.1em;
}
a {
  text-decoration: none;
}
div.address {
  display: flex;
  flex-direction: column;
}
div.address > input {
  width: 42em;
}
div.balance, div.wallet {
  margin-top: 1em;
}
div.prices {
  display: flex;
  flex-direction: column;
}
div.prices > span {
  display: block;
}
div.status, div.wallet {
  display: flex;
  justify-content: space-evenly;
  width: fit-content;
}
div.wallet > label,
div.wallet > input,
div.status > span {
  padding-left: 1em;
  padding-right: 1em;
}
